body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
p {
    color: #17a2b8;
}
.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.logbtn{
    color: rgb(182, 182, 182) !important;
    border-radius: 3px;
}
.logbtn:hover{
    color: white !important;
}
.smartLogin{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}